body {
    color: black;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?cs=srgb&dl=flock-of-birds-917494.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
nav {
    position: fixed;
    height: 50vh;
    z-index: 1;
    left:0;
    background-color: rgba(0,0,0, 0.8);
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav:hover {
    padding-right: 50px;
}
nav ul {
    display: none;
    visibility: hidden;
    transition: visibility 0.2s;
}
nav:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    visibility: visible;
}

nav:hover p {
    display: none;
    visibility: hidden;
}

nav p {
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    transition: 0.2s ease;
}

nav ul li {
    opacity: inherit;
    padding: 20px 40px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color:white;
    transition: 0.2s;
}

nav ul li:hover {
    font-size: 24px;
}

a {
  text-decoration:none;
  color:inherit;
}

h1 {
  text-align: left;
  font-size:96px;
    color: white;
}
h2 {
  text-align: left;
  font-size: 32px;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-size: 28px;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    color:black;
}

/* Présentation card */

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    margin: auto;
}

.container .card {
  position: relative;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  background-color: #777;
  color:black;
}

.container .card .face.face1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .card:hover .face.face1 {
  transform: translateY(0);
}
.container .card .face.face1 img {
  max-width: 100px;
  padding: 0px 0px 20px 0px;
}


.container .card .face.face1 .content {

  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    color: #AAA;
    opacity: 1;
}

.container .card .face.face2 {
  position: relative;
  color:black;
  display: flex;
  justify-content: center;
    border: 1px solid black;
    border-top:none;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
    background-color: white;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 section {
  line-height: 1.2em;
  padding: 10px 0px;
}

.part {
    width: 80%;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.part h1 {
    margin-top: 50px;
    text-align: center;
}

#projets .container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#777;
    width: 300px;
    height:300px;
    padding: 20px;
}

#projets h3 {
    color: #DDD;
}

#projets .container .card section {
    text-align: center;
}

#projets .container .card img {
    max-height: 100px;
    max-width: 100px;
}
#projets .container .card a {
    border:1px solid black;
    padding: 10px;
    font-weight: bold;
    transition:0.2s ease-in-out;
}

#projets .container .card a:hover {
    background-color: black;
    color:white;
}
#presentation, #projets, #contact {
    background-color: rgba(0,0,0,0.8);
}


/* Contact */

#contact img {
    max-height: 200px;
    max-width: 200px;
}

#contact a {
    width: 150px;
}

.global {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right, .left {
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    color: #DDD;
}

.left {
    justify-content: center;
    font-size: 20px;
    text-align: center;
    border-right: 5px solid white;
}

.left a {
    margin-top: 50px;
    padding: 10px 20px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: white;
    transition:0.2s ease-in-out;
}

.left a:hover {
    color: white;
    background-color: black;
}
